.header {
    background-color: #fff8e0;
    height: 60px;
    line-height: 60px;
    display: flex;
    flex-wrap: nowrap;
}

.header div:first-child {
    width: 60px;
    text-align: left;
}

.header div:last-child {
    width: 60px;
    text-align: right;
}

.header button {
    width: 60px;
    height: 24px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.logocontainer {
    padding: 10px;
    width: auto;
    flex-grow: 1;
}

.logocontainer img {
    height: calc(100% - 10px);
}

a {
    color: #000;
    padding: 0 10px;
}